form {
    position: fixed;
    bottom: 0;
    left: 3%;
    width: 100%;
    z-index: 999;
}
form input {
    height: 30;
    width: 75%;
    font-size: 20px;
}
#submitButton {
    width: 20%;
    font-size: 20px;
}
.time {
    color:gray;
    font-family: "Ubuntu";
    text-align: right;
    font-size: 20px;
}
.message {
    font-size: 20px;
    width : 1200px
}
#messages {
    list-style-type: none;
    font-size: 20px;
    margin:0px;
    padding:0px
}
.me {
    font-family: sans-serif, "Courier New", Courier, monospace;
    text-align: left;
    font-size: 20px;
}
.you {
    font-family: sans-serif, "Courier New", Courier, monospace;
    text-align: left;
    font-size: 20px;    
}
.otherMsg {
    background-color: white;
    word-wrap: break-word;
    border-radius: 8px 8px 8px 0;
}
.myMsg {
    background-color:greenyellow;
    word-wrap: break-word;
    border-radius: 8px 8px 8px 0;
}
.author{
    width: 100px;
    font-size: 20px;
}
div.col-sm-6{
    padding:0px;
}
